body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

#logo {
    font-weight: bold;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

#about {
    background-color: #1f2937;
    color: white;
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: auto;
    height: 200px;
    object-fit: contain;
    gap: 8px;
}

#about .info {
    flex-wrap: wrap;
    min-width: 0;
    overflow: hidden;
}

.title {
    font-size: 36px;
    font-weight: 900;
}

#about .subtext {
    padding: 8px 0;
}

#about .signup {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 24px;
    font-weight: bold;
}

#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0;
}

#gallery .info {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 36px;
}

.images {
    display: flex;
    justify-content: space-between;

}

.img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 150px;
    margin: 0 24px;
}

.img p {
    font-size: 14px;
    text-align: center;
}

#review {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 80px 300px;
}

.quote {
    font-style: italic;
    font-size: 24px;
    flex-wrap: wrap;
    min-width: 0;
}

.name {
    font-weight: bold;
    text-align: right;
}

#modal {
    background-color: #3882F6;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin: 80px 300px;
    padding: 36px 64px;
    border-radius: 8px;
}

#modal .text {
    display: flex;
    flex-direction: column;
}

#modal p {
    margin: 0;
    padding: 0;
}

#modal .signup {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 6px 24px;
    font-weight: bold;
}